certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.6
PyAudio==0.2.14
pycparser==2.21
requests==2.31.0
sounddevice==0.4.6
SpeechRecognition==3.10.1
typing-extensions==4.9.0
urllib3==2.1.0
